<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="icon" href="{% static 'images/favicon_io/favicon.ico' %}">
    <!-- bootstrap cdn css link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

    <!-- fontawesome cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
        integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

         <!-- cdn link for alertify css -->
    <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/css/alertify.min.css" />

        <!-- cdn lnk for alertify -->
     <script src="//cdn.jsdelivr.net/npm/alertifyjs@1.14.0/build/alertify.min.js"></script>



    <!-- custom csss link -->
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    <style>
        .cross {
            position: absolute;
            right: 0;
            top: 0;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 d-flex justify-content-center align-items-center flex-column">
                <h1>Welcome to Momo Restaurant</h1>
                <img src="{% static 'images/logo.png' %}" class="img-fluid" alt="">
            </div>
            <div class="col-12 col-md-6">
                <div class="main">
                    <div class="form-container">
                        <a href="{% url 'index' %}">
                            <h2 class="cross"><i class="fa-solid fa-xmark"></i></h2>
                        </a>

                        <p class="title">Email Verification</p>
                        <form class="form" method="POST" action="">
                            {% csrf_token %}
                            <!-- </div> -->
                           
                            <div class="input-group">
                                <label for="username">Token:</label>
                                <input type="number" name="token" id="username" placeholder="">
                            </div>

                           
                            <button class="sign mt-2">Verify Email</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
     

           {% for message in messages  %}

        {% if message.tags == 'success' %}
         <script>
        var delay = alertify.get('notifier', 'delay');
        alertify.set('notifier', 'position', 'top-right');
        alertify.set('notifier', 'delay', 10,);
        alertify.success("{{ message }}");
        alertify.set('notifier', 'delay', delay);
    </script>
     {% else %}
    <script>
        var delay = alertify.get('notifier', 'delay');
        alertify.set('notifier', 'position', 'top-right');
        alertify.set('notifier', 'delay', 10,);
        alertify.error("{{ message }}");
        alertify.set('notifier', 'delay', delay);
    </script>
            
        {% endif %}
            
            
        {% endfor %}



    <!-- bootstrap js link  -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>
        
       
        
  
            
</body>

</html>